extends ../layouts/main.pug

block content
    ul.list-group
        if books !== null
            each val in books
                li.list-group-item.d-flex.justify-content-between.align-items-center= val.name
                    span Category: #{val.category}
                    a.list-group-item.btn.btn-light(href=`delete-book/${val.id}`)
                        i.fas.fa-trash-alt
        else
            li.list-group-item No books