.list-group
        a(href="/category" class="list-group-item list-group-item-action font-weight-bold") Category
        a(href="/bestseller" class="list-group-item list-group-item-action font-weight-bold") Bestseller
        a(href="/information" class="list-group-item list-group-item-action font-weight-bold") Information




