extends layouts/main

block content
    .row
        .col-md-6
            .card.my-3
                a.btn.btn-dark(href='/admin/add-book') Add Book

        .col-md-6
            .card.my-3
                a.btn.btn-dark(href='/admin/delete-book') Delete Book
