extends layouts/main

block content
    .row
        .col-md-6
            .card.my-3
                button.btn.btn-dark Add Book

        .col-md-6
            .card.my-3
                 button.btn.btn-dark Delete Book