extends layouts/main

block content
    .row
        .col-md-2
            .card.my-3
                .card-header.text-capitalize 1   
        .col-md-2
            .card.my-3
                .card-header.text-capitalize 2              
        .col-md-2
            .card.my-3
                .card-header.text-capitalize 3 
        .col-md-2
            .card.my-3
                .card-header.text-capitalize 4   
        .col-md-2
            .card.my-3
                .card-header.text-capitalize 5 
        .col-md-2
            .card.my-3
                .card-header.text-capitalize 6                        