extends layouts/main

block content
    .row
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Category 1
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/category1`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Category 2
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/category2`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:  
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Category 3
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/category3`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:    
    .row
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Category 4
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/category4`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Category 5
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/category5`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:  
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Category 6
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/category6`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books: 
    .row
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Category 7
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/category7`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Category 8
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/category8`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:  
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Category 9
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/category9`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:                                                           