extends layouts/main

block content
    h2 Database Mangement Systems Course Project
    hr
    h6 
    b Hakan ÜNAL
    h6 
    b Osman YILDIZ
    h6 
    b Gürkan SOLAK
    hr
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae rem beatae totam natus ratione est nemo odit maiores veritatis, tenetur sint laudantium neque corrupti quis facere rerum ipsam sapiente harum.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe laudantium rerum quia minima consequatur velit corrupti? Sunt, recusandae modi? Non est sint ducimus quaerat et voluptatem cupiditate deleniti dolores tempore!
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, error autem ipsum corrupti molestiae labore alias sapiente hic! Placeat ut sapiente tenetur deleniti repellat nihil illum quod, incidunt doloremque tempore.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ducimus odit voluptatem explicabo optio laborum autem ab ad quasi consectetur, fugit consequatur voluptates eum repudiandae praesentium non reprehenderit. Quis, aliquid!