extends ../layouts/main

block content
    .row
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Biography
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/biography`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:
        .col-md-4
            .card.my-3
                .card-header.text-capitalize History
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/history`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:  
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Sport
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/sport`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:    
    .row
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Medical
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/medical`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Health
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/health`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:  
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Computing
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/computing`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books: 
    .row
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Horror
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/horror`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Children
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/children`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:  
        .col-md-4
            .card.my-3
                .card-header.text-capitalize Art
                    a.btn.btn-dark.btn-sm.ml-5(href=`/category/art`) Go
                .card-body
                    h4.card-title.text-capitalize Total Books:                                                           